@model List<ShoeStoreApi.Models.Shoe>


<section class="hero-section position-relative bg-gray padding-medium">
    <div class="hero-content">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1 class="display-2 text-uppercase text-dark">Ürünler</h1>
                    <div class="breadcrumbs">
                        <span class="item">
                            <a href="/">Anasayfa &gt;</a>
                        </span>
                        <span class="item">Tüm Ürünler</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="shopify-grid py-2 my-2 py-md-5 my-md-5">
    <div class="container-lg">
        <div class="row">
            <main class="col-lg-12 col-md-12 col-sm-12">
                <div class="filter-shop d-flex justify-content-between">
                    <div class="showing-product">
                        <p>Showing 1–9 of 55 results</p>
                    </div>
                    <div class="sort-by pb-3">
                        <select id="input-sort" class="form-control" data-filter-sort="" data-filter-order="">
                            <option value="">Default sorting</option>
                            <option value="">Name (A - Z)</option>
                            <option value="">Name (Z - A)</option>
                            <option value="">Price (Low-High)</option>
                            <option value="">Price (High-Low)</option>
                            <option value="">Rating (Highest)</option>
                            <option value="">Rating (Lowest)</option>
                            <option value="">Model (A - Z)</option>
                            <option value="">Model (Z - A)</option>
                        </select>

                    </div>
                    <div class="sort-by pb-3">
                        <div class="sidebar">
                            <div class="widget-menu">
                                <div class="widget-search-bar position-relative">
                                    <form role="search" method="get" class="d-flex">
                                        <input class="search-field rounded-2" placeholder="Search" type="search">
                                        <div class="search-icon position-absolute end-0">
                                            <a href="#">
                                                <svg class="search">
                                                    <use xlink:href="#search"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="product-content product-store d-flex justify-content-between flex-wrap">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-12 col-sm-12 mb-4 pe-3">
                            <div class="product-card position-relative">
                                <a href="/Product/Index/@item.Id">
                                    <div class="card-img">
                                        <img src="@item.ImageUrl" alt="product-item" class="product-image img-fluid">
                                        <!-- cart-concern -->
                                    </div>
                                    <div class="card-detail d-flex justify-content-left align-items-center mt-3">
                                        <h3 class="card-title  fs-6 fw-normal m-0">
                                            <a href="single-product.html">@item.ShoeName</a>
                                        </h3>
                                    </div>
                                        <span class="card-price fw-bold">@item.Price ₺</span>
                                </a>
                            </div>
                        </div>

                    }

                  
                </div>
            </main>

        </div>
    </div>
</div>