
@model carWorldDbFirstProject.Models.Cars

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">

            <h5 class="card-title fw-semibold mb-4">Yeni Araç Ekle</h5>

            <div class="card">
                <div class="card-body">

                    <form asp-action="Create">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="Marka" class="form-label"></label>
                            <input asp-for="Marka" class="form-control" />
                            <span asp-validation-for="Marka" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Model" class="form-label"></label>
                            <input asp-for="Model" class="form-control" />
                            <span asp-validation-for="Model" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Fiyat" class="form-label"></label>
                            <input asp-for="Fiyat" class="form-control" />
                            <span asp-validation-for="Fiyat" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ImageUrl" class="form-label"></label>
                            <input asp-for="ImageUrl" class="form-control"
                                   />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Araç Ekle
                        </button>

                        <a asp-action="Index" class="btn btn-secondary ms-2">
                            Listeye Dön
                        </a>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

