
@model carWorldDbFirstProject.Models.Customers

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">

            <h5 class="card-title fw-semibold mb-4">Müşteri Güncelle</h5>

            <div class="card">
                <div class="card-body">

                    <form asp-action="Edit">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="Id" />

                        <div class="mb-3">
                            <label asp-for="AdSoyad" class="form-label"></label>
                            <input asp-for="AdSoyad" class="form-control" />
                            <span asp-validation-for="AdSoyad" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Telefon" class="form-label"></label>
                            <input asp-for="Telefon" class="form-control" />
                            <span asp-validation-for="Telefon" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Güncelle
                        </button>

                        <a asp-action="Index" class="btn btn-secondary ms-2">
                            Listeye Dön
                        </a>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

